@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #000000;
    color: #F6F6F6 ;
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    
}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.apresentacao-conteudo-subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.apresentacao-conteudo-botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-links {
    /* background-color: #22D4FD; */
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    color: #F6F6F6;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: #22D4FD 2px solid;
}

.apresentacao-links:hover {
    background-color: #272727;
    color: #F6F6F6
}